<%- include('header'); -%>

<main role="main">
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="postadjust-h"><%= postheader %> </h1>
            <p class="postadjust-p"><%= postbody %> </p>
</div>
</div>

<%- include('footer'); -%>